@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* Zerando CSS */

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: none;
}

ul {
  list-style: none;
  background-color: #367588;
  color: #fff;
}

a:hover {
  color: #ef5c47;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-input-placeholder {
  color: #b9b9bb;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #b9b9bb;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b9b9bb;
}

:-ms-input-placeholder {
  color: #b9b9bb;
}

/* Header Menu Settings */
.header-menu-list {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 10px;
  height: 20px;
  align-items: center;
}

ul li a {
  color: #fff;
  font-weight: 100;
  font-family: "Lato" sans-serif;
}

ul li i a:hover {
  color: #ef5c47;
  transition: 0.3s;
}

.header-menu-list img {
  max-width: 100%;
  width: 20px;
  vertical-align: middle;
  margin: 0 5px 4px 0;
}

.left {
  position: relative;
  right: 50px;
}

.central {
  position: relative;
}

.right {
  position: relative;
  left: 50px;
}

/* Logo */

.logo-container {
  padding: 50px 0 30px 0;
  background-color: #e8f0f2;
  display: flex;
  justify-content: center;
}

.logo-1 {
  display: block;
  position: absolute;
  left: 200px !important;
  max-width: 150px;
}

.logo-1 p {
  padding-top: 10px;
  text-align: center;
  flex-wrap: wrap;
}

.logo-2 img {
  max-width: 100%;
}

.search input {
  width: 150px;
  height: 10px;
  position: absolute;
  display: block;
  right: 180px;
  top: 40px;
  text-transform: uppercase;
  font-family: "Lato" sans-serif;
  font-size: 0.75em;
  padding-left: 30px;
  border-radius: 0;
  border: 0;
}

.search i {
  position: absolute;
  display: block;
  top: 48px;
  right: 345px;
  color: #b9b9bb;
}

#menu-hamburguer {
  display: none;
}

/* Main menu settings */

.main-menu-list {
  display: flex;
  justify-content: space-around;
  padding: 5px 80px 5px 80px;
}

/* Info settings */
.info-section {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 50px 0 50px 0;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container img {
  margin-bottom: 50px;
}

.text-info {
  width: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  text-transform: uppercase;
  font-weight: 300;
}

.title h3 {
  text-transform: uppercase;
  font-weight: 100;
}

.text-info p {
  font-size: 1em;
  padding-left: 10px;
  line-height: 2em;
  font-family: "Lato" sans-serif;
  color: #000;
}

.form-section {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

span {
  color: #3a7587;
}

form {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
  margin-bottom: 30px;
  background: #f8f9fb;
  outline: none;
  border: 0.9px solid #b9b9bb;
  border-radius: 5px;
  padding: 10px;
  width: 600px;
}

button {
  background-color: #467385;
  color: #fff;
  border: 0;
  border-radius: 20px;
  width: 115px;
  padding: 15px 0 15px 0;
  border-radius: 13px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  /* Top Header setings */
  .left,
  .central {
    display: none;
  }

  .right a {
    display: none;
  }

  .user a {
    display: none;
  }

  .header-menu-list {
    margin: 0;
    width: auto;
    justify-content: flex-end;
  }

  .right {
    position: inherit;
    margin-right: 20px;
    margin-left: 125px;
    left: 0;
  }

  .phone {
    font-size: 14px;
  }

  .search input {
    min-width: 100%;
    height: 10px;
    position: absolute;
    right: -20px;
    top: 30px;
    padding-left: 30px;
    text-align: center;
  }

  .search i {
    right: 385px;
    font-size: 22px;
    top: 34px;
  }

  /* Logo settings */
  .logo-container {
    margin: auto;
    padding: 10px 40px;
    flex-wrap: wrap;
  }

  .logo-1 {
    order: 1;
    position: inherit;
    padding-top: 50px;
    margin-bottom: 10px;
  }

  .logo-2 {
    margin-bottom: -47px;
    padding-top: 30px;
  }

  /* Menu hamburguer setting */
  .main-menu-list {
    position: absolute;
    display: none;
    top: 30px;
    line-height: 1.7em;
    padding: 10px 20px 15px 5px;
    border-top: 1px solid #f4f4f4;
  }

  .main-menu-list li {
    border-bottom: 1px solid black;
    transition: 5s ease-in-out;
  }

  .menu {
    position: absolute;
    top: -4px;
  }

  .hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 25px;
    height: 2px;
    top: 17px;
    left: 15px;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before,
  .hamburguer:after {
    background: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before {
    top: -10px;
  }

  .hamburguer:after {
    bottom: -10px;
  }

  input:checked ~ label .hamburguer {
    transform: rotate(45deg);
  }

  input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
  }

  input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
  }

  input:checked ~ ul {
    display: block;
    transition: 0.5s ease-in-out;
  }

  /* Section info settings */

  .info-section {
    width: auto;
    display: flex;
    padding: 20px 0 50px 0;
    margin-bottom: 30px;
  }

  .container img {
    padding: 0 15px;
    width: 90%;
    margin-bottom: 20px;
  }

  .text-info {
    width: auto;
    margin: 0 20px 0 20px;
  }

  /* Form settings */

  .form-section {
    display: inherit;
  }

  .title {
    margin: 0 20px;
    line-height: 2em;
    display: inherit;
    text-align: center;
  }

  form {
    margin: 30px 0 30px 0;
  }

  input {
    width: auto;
    margin: 0 20px 30px 20px;
  }
}

@media screen and (max-width: 425px) {
  .right {
    margin-left: 105px;
  }

  .logo-container {
    padding: 10px 40px !important;
  }

  .container img {
    padding: 0 20px;
  }

  .text-info {
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .right {
    margin-left: 95px;
  }

  .hamburguer {
    left: 15px;
  }

  .phone {
    font-size: 16px;
  }

  .search i {
    font-size: 20px;
    right: 336px;
  }

  .logo-container {
    padding: 10px 13px;
  }

  .text-info {
    padding: 0 !important;
  }
}

@media screen and (max-width: 320px) {
  .search i {
    font-size: 20px;
    right: 280px;
  }

  .right {
    margin-left: 60px;
  }
  .text-info {
    padding: 0;
  }
}
